.skills {
    padding: 80px 20px;
    background: linear-gradient(135deg, #0A192F 0%, #021B79 100%);
    text-align: center;
    color: #fff;
}

.containerSkills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: row;
}

.skills h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Ajuste para organização em grade */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.skill-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background 0.3s;
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 150px;
}

.skill-card:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}

/* Ícones maiores e alinhados */
.skill-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #64ffda;
}

.skill-card h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.skill-card p {
    font-size: 14px;
    color: #ddd;
}


/* Responsividade para Skills */
@media (max-width: 1024px) {
    .skills {
        width: 100%;
        padding: 100px 34px;
    }
    
    .containerSkills {
        display: flex;
        flex-direction: column;
    }
    .skills h2 {
        font-size: 30px;
    }
    .skills-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .skills {
        width: 100%;
        padding: 80px 0px;
    }
    .containerSkills {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .skills h2 {
        font-size: 24px;
    }
    .skills-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skill-card {
        margin: 5px;
    }
}
