.about {
    background-color: #f8f9fa;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #021B79;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0A192F;
}

.about p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    max-width: 80%;
}

/* Botão estilizado */
.btn-saiba-mais {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #021B79;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-saiba-mais:hover {
    background: #0A192F;
}


/* Responsividade para About */
@media (max-width: 1024px) {
    .about {
        width: 100%;
        padding: 80px 34px;
    }
    .about-container {
        padding: 62px;
    }
    .about h2 {
        font-size: 24px;
    }
    .about p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .about {
        width: 100%;
        padding: 80px 0px;
    }
    .about-container {
        padding: 20px;
    }
    .about h2 {
        font-size: 22px;
    }
    .about p {
        font-size: 14px;
        max-width: 100%;
    }
    .about-img {
        width: 120px;
        height: 120px;
    }
}