
.contact {
    padding: 80px 20px;
    background-color: #0D0D0D;
    color: #F5F5F5;
    text-align: center;
    width: 100%;
  }
  
  .containerContact {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #00BFFF;
    text-shadow: 0 0 8px #00BFFF33;
    animation: glowText 2s ease-in-out infinite alternate;
  }
  
  .contact p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #CCCCCC;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .social-icons a {
    color: #F5F5F5;
    font-size: 2.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #00BFFF;
    transform: translateY(-5px) scale(1.2);
    filter: drop-shadow(0 0 8px #00BFFF);
  }
  
  /* Animação de glow no texto */
  @keyframes glowText {
    from {
      text-shadow: 0 0 8px #00BFFF33;
    }
    to {
      text-shadow: 0 0 20px #00BFFF66;
    }
  }
  
/* Responsividade para tablets */
@media (max-width: 1080px) {
    .contact {
      padding: 60px 20px; /* Reduz o padding geral */
    }
  
    .contact h2 {
      font-size: 2.2rem; /* Reduz o tamanho do título */
    }
  
    .contact p {
      font-size: 1rem; /* Reduz o tamanho do texto */
    }
  
    .social-icons {
      gap: 20px; /* Reduz o espaçamento entre os ícones */
    }
  
    .social-icons a {
      font-size: 2rem; /* Reduz o tamanho dos ícones */
    }
  }
  
  /* Responsividade para smartphones */
  @media (max-width: 768px) {
    .contact {
      padding: 40px 0px; /* Reduz ainda mais o padding geral */
    }
  
    .contact h2 {
      font-size: 2rem; /* Reduz o tamanho do título */
    }
  
    .contact p {
      font-size: 0.9rem; /* Reduz o tamanho do texto */
    }
  
    .social-icons {
      gap: 15px; /* Reduz o espaçamento entre os ícones */
    }
  
    .social-icons a {
      font-size: 1.8rem; /* Reduz o tamanho dos ícones */
    }
  }