.contact {
    padding: 80px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.containerContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #021B79;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #021B79;
    font-size: 18px;
}

.contact input {
    width: 100%;
    padding: 12px 15px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.contact textarea {
    width: 100%;
    padding: 28px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #021B79;
    box-shadow: 0px 0px 5px rgba(2, 27, 121, 0.4);
}

.contact textarea {
    resize: none;
    height: 120px;
}

.contact button {
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #021B79;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.contact button:hover {
    background-color: #0A192F;
}
