/* Estilos para o Header */
.header {
  width: 100%;
  background: #0A192F;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover, .menu a.active {
  color: #64FFDA;
  text-shadow: 0px 0px 8px #64FFDA;
}

/* Ícone do hambúrguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Animação do ícone hambúrguer */
.hamburger.open div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Menu Mobile */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(10, 25, 47, 0.95);
    text-align: center;
    padding: 20px 0;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
  }

  .menu li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex;
    margin-right: 10px;
  }
  .hamburger.open {
    margin-right: 10px;
}
.hamburger.open div:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
}
