/* Paleta: Preto Fosco (#0D0D0D), Azul Neon (#00BFFF), Branco Gelo (#F5F5F5) */

.footer {
    background-color: #2E2E2E; /* Cinza Grafite */
    color: #F5F5F5;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .footer p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    margin: 0;
  }
  
  .back-to-top {
    background: #00BFFF; /* Azul Neon */
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-to-top svg {
    color: #0D0D0D; /* Preto Fosco */
    font-size: 1.2rem;
  }
  
  .back-to-top:hover {
    background: #009ACD;
    transform: translateY(-3px) scale(1.1);
    filter: drop-shadow(0 0 6px #00BFFF);
  }
  
  /* Responsividade */
/* Responsividade para tablets */
@media (max-width: 1080px) {
    .footer{
        padding: 15px 20px; /* Reduz o padding do footer */
    }
    .footer-container {
      gap: 15px; /* Reduz o espaçamento entre os elementos */
    }
  
    .footer p {
      font-size: 0.85rem; /* Reduz o tamanho do texto */
    }
  
    .back-to-top {
      padding: 7px; /* Ajusta o padding do botão */
    }
  
    .back-to-top svg {
      font-size: 1.1rem; /* Ajusta o tamanho do ícone */
    }
  }

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      gap: 10px;
    }
    .back-to-top {
      padding: 6px;
    }
    .back-to-top svg {
      font-size: 1rem;
    }
  }
  